.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-text-1 {
  font-family: "Playfair Display", serif;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  height: 566px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -567px 604px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: -115px;
    margin-right: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -88px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -44px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 905px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 705px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 105px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 620px;
}

.u-section-3 .u-image-1 {
  height: 399px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 203%;
    left: -52%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 323%;
    left: -112%;
  }
}