.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-image-1 {
  height: 366px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 124px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}